<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>SPCS Config</title>
</head>
<body>
    <main id="setUpSection" style="position: absolute; z-index: 999; width: 100%; height: 100%; background-color: black;">
        <section style="margin-top: 30px;">
            <h2>Log in your Cloudflare account</h2>
            <form id="logInForm">
                <h3>Cloudflare api token:</h3>
                <input name="api_token" type="text" placeholder="Paste api token here">
                <button type="button" id="loadZones" style="margin-top: 10px;">Load your zones</button>

                <h3>Select a zone (domain):</h3>
                <select name="zones">
                    <option value="">null</option>
                </select>
                <button type="submit" style="margin-top: 10px;">Complete</button>
            </form>
        </section>

        <div>
            <p class="error-msg"></p>
        </div>
    </main>

    <script src="{{ url_for('static', filename='config.js') }}"></script>
</body>
</html>