<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>SPCS Menu</title>
</head>
<body>
    <main style="justify-content: center; max-width: 400px; width: 100%;">
        <h1>SPCS Menu</h1>
        <br>
        <button><a href="/dk">Docker runner</a></button>
        <br><br>
        <button><a href="/cf">Tunnel builder</a></button>
    </main>
</body>
</html>