<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <script>
        const SERVER_URL = 'http://127.0.0.1:3000';
    </script>

    <section>
        <h1>SPCS - Second PC Server</h1>
    </section>

    <section class="accounts --basicSection --topBorder">
        <h2>Your GitHub accounts:</h2>
        <br>
        <div class="accounts__wrapper">
        </div>
        <br>
        <div style="display: inline-flex;">
            <button id="accounts__addButton" style="background-color: var(--green-1);">Add account</button>
            <button id="accounts__closeButton" style="background-color: red; margin-left: 10px;">Cancel ✕</button>
        </div>
        <div class="accounts__newWrapper --basicSection__addpPanel">
            <br>
            <span>Username:</span>
            <input type="text" name="username">
            <br>
            <span>access_token:</span>
            <input type="text" name="access_token">
            <br>
            <span class="accounts__newWrapper__errMsg" style="color: red;"></span>
            <br>
        </div>
    </section>

    <section class="reposList --basicSection --topBorder" style="margin-top: 20px;">
        <h2>Your repositories:</h2><br>

        <div class="reposList__wrapper">
        </div>

        <br>
        <div style="display: inline-flex;">
            <button id="reposList__addRepoButton" style="background-color: var(--green-1);">Add repository</button>
            <button id="reposList__closeRepoButton" style="background-color: red; margin-left: 10px;">Cancel ✕</button>
        </div>
        <div class="reposList__newRepoWrapper">
            <br>
            <div style="display: inline-flex; justify-content: flex-start; align-items: flex-start;">
                <span>Private repo:</span>
                <input type="checkbox" style="width: 15px; height: 15px; margin-left: 10px;" name="isPrivateRepo">
            </div>
            <br>
            <div class="newRepo__accountSelectDiv" style="flex-direction: column; padding-left: 10px;">
                <span>Account:</span>
                <select name="account" id=""></select>
            </div>
            <br>
            <span>Repository url:</span>
            <input type="text" name="repo_url">
            <br>
            <span>Branch name:</span>
            <select name="branch"></select>
            <br>
            <span>Path to root:</span>
            <input type="text" name="root_path" placeholder="not required">
            <br>
            <span class="reposLis__newRepoWrapper__errMsg"></span>
            <br>
        </div>
    </section>

    
    <section class="terminal">
        <div id="terminal_resizer"></div>
        <div class="terminal__menu">
            <button class="terminal__clearButton">clear</button>
        </div>
        <div class="terminal_messagesWrapper">
            <!-- <div>
                <span>[08/Dec/2024 23:59:42] </span><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, minus magnam et ullam totam hic eligendi velit ex quam a odio obcaecati, laudantium neque veniam nisi incidunt! Esse, vel dolores!</span>
            </div> -->
        </div>
    </section>
   

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/repo.js') }}"></script>
</body>
</html>