<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        const SERVER_URL = 'http://192.168.1.159:1488';
    </script>

    <div class="wrapper">
        <section>
            <h1>SPCS - Second PC Server</h1>
        </section>

        <section class="cloudflare --basicSection --topBorder">
            <h2>Cloudflare</h2>
            <br>
            <span>Your api token</span>
            <input data-name="token-input" value="api token"></input>
            <button id="set_flare_token">Update token</button>
            <br>
            <span data-name="username">account name</span>
            <br>
            <span>Your domains:</span>
            <ul>
                <li>ivan-rak.cum</li>
            </ul>
        </section>
        
        <section class="accounts --basicSection --topBorder">
            <h2>Your GitHub accounts:</h2>
            <br>
            <div class="accounts__wrapper">
            </div>
            <br>
            <div style="display: inline-flex;">
                <button id="accounts__addButton" style="background-color: var(--green-1);">Add account</button>
                <button id="accounts__closeButton" style="background-color: red; margin-left: 10px;">Cancel ✕</button>
            </div>
            <div class="accounts__newWrapper --basicSection__addpPanel">
                <br>
                <span>Username:</span>
                <input type="text" name="username">
                <br>
                <span>access_token:</span>
                <input type="text" name="access_token">
                <br>
                <span class="accounts__newWrapper__errMsg" style="color: red;"></span>
                <br>
            </div>
        </section>

        <section class="reposList --basicSection --topBorder" style="margin-top: 20px;">
            <div style="display: flex; flex-direction: column; width: 100%;">
                <h2>Your repositories:</h2>
                <button class="repos_updateButton" style="background-color: green;">Update ↻</button>
            </div>
            <br>

            <div class="reposList__wrapper">
            </div>

            <br>
            <div style="display: inline-flex;">
                <button id="reposList__addRepoButton" style="background-color: var(--green-1);">Add repository</button>
                <button id="reposList__closeRepoButton" style="background-color: red; margin-left: 10px;">Cancel ✕</button>
            </div>

            <form class="reposList__newRepoWrapper">
                <br>
                <div style="display: inline-flex; justify-content: flex-start; align-items: flex-start;">
                    <span>Private repo:</span>
                    <input type="checkbox" style="width: 15px; height: 15px; margin-left: 10px;" name="isPrivateRepo">
                </div>
                <br>
                <div class="newRepo__accountSelectDiv" style="flex-direction: column; padding-left: 10px;">
                    <span>Account:</span>
                    <select name="account" id=""></select>
                </div>
                <br>
                <span>Repository url:</span>
                <input type="text" name="repo_url">
                <br>
                <span>Branch name:</span>
                <select name="branch"></select>
                <br>
                <span>Relative path to DockerFile:</span>
                <input type="text" name="dockerfilepath" placeholder="not required">
                <br>
                <span>Ports: [locallhost:container]</span>
                <div style="display: inline-flex;">
                    <input type="text" name="locallPort" style="width: 60px;">
                    <span style="font-size: 25px;">:</span>
                    <input type="text" name="dockerPort" style="width: 60px;">
                </div>
                <br>
                <span class="reposLis__newRepoWrapper__errMsg"></span>
                <br>
            </form>
        </section>
    </div>

    
    <section class="terminal">
        <div id="terminal_resizer"></div>
        <div class="terminal__menu">
            <button class="terminal_positionButton">right</button>
            <button class="terminal__clearButton">clear</button>
            <button class="terminal__autoScrollButton">autoScroll ✕</button>
        </div>
        <div class="terminal_messagesWrapper">
            <br>
            
        </div>
    </section>
   
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/onclick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/eventSourcing.js') }}"></script>
</body>
</html>